.welcome {
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.indbox {
  display: flex;
  flex-direction: column;
  padding: 2em;
  border-radius: 20px;
  box-shadow: 0 0 30px 5px rgb(167, 40, 235);
  background-color: rgba(255, 200, 200, 0.2);
  text-align: center;
  line-height: 1.5em;
  gap: 2em;
}

.welcome h2 {
  font-style: italic;
}

.instruction {
  text-align: center;
  align-items: center;
}

.instruction li {
  text-align: left;
}

.code-one {
  border: 2px solid black;
  border-radius: 20% 80% 20% 80% / 30% 70% 30% 70%;
  padding: 30px;
  font-size: 17px;
  color: rgba(245, 166, 40, 0);
}

.code-one:hover {
  color: black;
  cursor: not-allowed;
}

.logo {
  border-radius: 49% 51% 100% 0% / 100% 100% 0% 0%;
}