body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}

article {
  overflow-y: auto;
  flex: 2;
}

