



input:invalid {
  border: 2px solid red;
  background-color: black;
}

.hidden {
  display: none;
}

.shake {
  transition: transform 0.5s ;
  animation: shakeIt 50ms 2 linear;
}

@keyframes shakeIt {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(20);
  }
}


