.past {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.card {
  height: 100%;
  perspective: 1000px;
}

.card_inner {
  height: 100%;
  transition: rotate 0.75s ease-in-out;
  transform-style: preserve-3d;
}

.card_face {
  position: absolute;
  padding: 5%;
  backface-visibility: hidden;
  overflow-y: auto;
}

.back {
  font-size: large;
  text-align: justify;
  line-height: 1.5em;
  align-content: center;
  align-items: center;
  background-color: pink;
  rotate: y 180deg;
  height: 100%;
}

.front {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: yellow;
}

.card:hover .card_inner {
  rotate: y 180deg;
}

.code_past span {
  opacity: 0;
}

.code_past:hover span {
  opacity: 100%;
}

.code_past {
  display: flex;
  flex-direction: column;
  align-items: center;
}
