.diplomes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 10px;
}

.containair {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10%;
  padding: 10px;
}

.contenu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contenu ul {
  flex: 1;
  text-align: center;
  list-style: none;
  line-height: 1.5em;
}

.contenu img,.images {
  flex: 2;
}

.images{
  display: flex;
}
.legende {
  text-align: center;
}

.devmob {
  position: relative;
}

.devmob::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: repeating-linear-gradient(
    to bottom,
    transparent 0 20px,
    rgb(29, 29, 29) 1px 40px
  );
  opacity: 0.05;
}

.devweb {
  background-color: rgb(0, 0, 255, 0.05);
}

.iaclass {
  background: repeating-linear-gradient(
    to right,
    rgba(255, 0, 0, 0.05) 0 25%,
    rgba(255, 255, 0, 0.05) 25% 50%,
    rgba(0, 128, 0, 0.05) 50% 75%,
    rgba(0, 0, 255, 0.05) 75% 100%
  );
}

.add_class {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
}

[role="tooltip"] {
  visibility: hidden;
  position: absolute;
  top: 0%;
  left: 0%;
  background: black;
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: visibility 0.5s;
}
[aria-describedby]{position: relative;}

[aria-describedby]:hover [role="tooltip"] {
  visibility: visible;
}