.network {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  column-gap: 2%;
  row-gap: 1%;
}

.network-title {
  grid-column: 1/3;
  line-height: 2;
}

.network h1,
.network h5 {
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.network h1 {
  text-align: center;
}

.network h2 {
  text-align: center;
}

.box {
  align-content: center;
  align-items: center;
  padding: 0 2%;
  transition: 0.2s;
  text-align: justify;
  border-radius: 0% 100% 0% 100% / 100% 5% 95% 0%;
}

.box:hover {
  transform: scale(1.02);
}

.youtube {
  background-color: rgba(255, 100, 100, 0.5);
}

.youtube span {
  opacity: 0;
  color: white;
  font-size: 50px;
}

.box:hover span {
  opacity: 1;
}

.tiktok {
  background-color: rgba(120, 255, 0, 0.5);
}

.tweeter {
  background-color: rgba(39, 235, 245, 0.5);
}

.linkedin {
  background-color: rgba(39, 53, 245, 0.5);
}

